*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #ffff;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* ======= HEADER SECTION =======  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #605CA8;
    container-type: inline-size;
    container-name: header;
}

.header__open-nav-button{
    color: #fff;
    font-size: 1.25rem;
    position: absolute;
    right: 10px;
    margin-right: 1rem;
    cursor: pointer;
}

.header__checkbox{
    display: none;
}

.header__logo{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1rem;
    cursor: pointer;
}

.header__nav{
    display: none;
    background-color: #7f7bca;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: -1;
}

.header__checkbox:checked ~ .header__nav{
    display: flex;
}

.header__nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    margin: auto;
}

.header__nav-link a{
    color: #ebebeb;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.header__nav-link a:is(:hover,:active){
    text-decoration: underline;
}

/* ======= HEADER QUERIES =======  */

@container header (min-width:650px){
    
    .header__nav{
        display: block;
        width: auto;
        position:static;
        height: auto;
        background: transparent;
    }

    .header__nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 1.65rem;
        margin-right: 1.5rem;
    }

    .header__open-nav-button{
        display: none;
    }
}

/* ======= MAIN SECTION =======  */

main{
    
}

/* ======= ARTICLES  =======  */

.article__container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.article{
    outline: 1px solid rgba(177, 177, 177, 0.548);
    background-color: #fafafa;
    width: 350px;
    margin: 0 auto;
    border-radius: 18px;
}

.article__tittle{
    font-size: 1.65rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.4;
    padding: 1rem 0 0 1rem ;
}

.article__image{
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.article__copy{
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    width: 95%;
    padding-left: 1rem;
}

.article__info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    align-items: center;
}

.author{
    text-decoration: none;
    color: #000;
    font-size: 1.0rem;
    font-weight: 600;
}

.article__author, .article__views{
    background-color: rgb(218, 215, 215);
    padding: 12px 6px;
    border-radius: 8px;
}

.article__views{
    padding: 12px 18px;
}

.article__funtions{
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.funtions{
    background-color: rgb(218, 215, 215);
    padding: 14px;
    border-radius: 8px;
    font-size: .9rem;
    color: #fff;
}

.funtions:hover{
    cursor: pointer;
    opacity: .8;
}

.fa-edit{
    background-color: #605CA8;
}

.fa-trash{
    background-color: #d12b2b;

}

.article__cta{
    display: inline-block;
    width: 200px;
    background-color: rgb(218, 215, 215);
    color: #000;
    font-weight: 600;
    padding: 12px 8px;
    border-radius: 8px;
    text-align: center;

}